@tailwind base;
@tailwind components;
@tailwind utilities;

@import "react-alice-carousel/lib/alice-carousel.css";

@import url('https://fonts.googleapis.com/css2?family=Fresca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

html,body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.descriptionFont {
  font-family: 'Fresca', sans-serif;
}

.poppinsFont {
  font-family: 'Poppins', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.slide-left {
	-webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.slide-bl {
	-webkit-animation: slide-bl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-bl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-bl {
  0% {
    -webkit-transform: translateY(-20px) translateX(10px);
    transform: translateY(-20px) translateX(10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}

@keyframes slide-bl {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px) translateX(10px);
    transform: translateY(-20px) translateX(10px);
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}

.productsDisplayedInFlex {
  width: calc(25% - 48px);
}

.removeScrollbar::-webkit-scrollbar {
  display: none;
}

.fadeInAnimation {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  0%{
    opacity: 0;
  },
  100% {
    opacity: 1;
  }
}

.mainAdminSection {
  height: calc(100% - 56px);
}

.alice-carousel {
  position: relative;
}

.alice-carousel:hover {
  cursor: grab;
}

.alice-carousel:active {
  cursor: grabbing;
}

.alice-carousel__next-btn-item {
  position: absolute;
  top: 50%;
  right: -8px;
  transform: translateY(calc(-50% - 42px));
  height: 36px;
  width: 36px;
  border-radius: 50%;
  font-size: 18px;
  display: flex;
  color: white;
  font-weight: 600;
  text-align: center;
  background-color: #383838;
}


.alice-carousel__prev-btn-item {
  position: absolute;
  top: 50%;
  left: -8px;
  transform: translateY(calc(-50% - 42px));
  height: 36px;
  width: 36px;
  border-radius: 50%;
  font-size: 18px;
  display: flex;
  font-weight: 600;
  text-align: center;
  background-color: #383838;
}

.alice-carousel__prev-btn-item:hover,.alice-carousel__next-btn-item:hover {
  transform: translateY(calc(-50% - 42px)) scale(1.1);
  transition: all;
  transition-duration: 300ms;
}

[data-area=">"], [data-area="<"] {
  color: white;
  margin-left: auto;
  margin-right: auto;
}

.alice-carousel__next-btn {
  display: flex;
  align-items: center;
}

.alice-carousel__next-btn-item.__inactive {
  visibility: hidden;
}

.alice-carousel__prev-btn-item.__inactive {
  visibility: hidden;
}

.dot-overtaking {
  position: relative;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: transparent;
  color: #14B1C0;
  margin: -1px 0;
  box-shadow: 0 -20px 0 0;
  animation: dotOvertaking 2s infinite cubic-bezier(0.2, 0.6, 0.8, 0.2);
}

.dot-overtaking::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: transparent;
  color: #14B1C0;
  box-shadow: 0 -20px 0 0;
}

.dot-overtaking::before{
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: transparent;
  color: #14B1C0;
  box-shadow: 0 -20px 0 0;
}

.dot-overtaking::before {
  animation: dotOvertaking 2s infinite cubic-bezier(0.2, 0.6, 0.8, 0.2);
  animation-delay: .3s;
}

.dot-overtaking::after {
  animation: dotOvertaking 1.5s infinite cubic-bezier(0.2, 0.6, 0.8, 0.2);
  animation-delay: .6s;
}

@keyframes dotOvertaking {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.productMainImageContainer {
  /* position: absolute;
  top: 0;
  right: 0; */
  width: calc(100% - 132px);
  height: auto;
}

.productSideImageContainer {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 6px);
  width: 112px;
  overflow-y: auto;
  overflow-x: visible;
}