@tailwind base;
@tailwind components;
@tailwind utilities;

@import "react-alice-carousel/lib/alice-carousel.css";

@import url('https://fonts.googleapis.com/css2?family=Fresca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

html,body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

.descriptionFont {
  font-family: 'Fresca', sans-serif;
}

.wsFont {
  font-family: 'Work Sans', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.slide-left {
	-webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.slide-bl {
	-webkit-animation: slide-bl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-bl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-bl {
  0% {
    -webkit-transform: translateY(-10px) translateX(0px);
    transform: translateY(-10px) translateX(0px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}

@keyframes slide-bl {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px) translateX(0px);
    transform: translateY(-10px) translateX(0px);
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}

.productsDisplayedInFlex {
  width: calc(25% - 48px);
}

.removeScrollbar::-webkit-scrollbar {
  display: none;
}

.fadeInAnimation {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  0%{
    opacity: 0;
  },
  100% {
    opacity: 1;
  }
}

.mainAdminSection {
  height: calc(100% - 56px);
}

.alice-carousel {
  position: relative;
}

.alice-carousel:hover {
  cursor: grab;
}

.alice-carousel:active {
  cursor: grabbing;
}

.alice-carousel__next-btn-item {
  position: absolute;
  top: 50%;
  right: -8px;
  transform: translateY(calc(-50% - 42px));
  height: 36px;
  width: 36px;
  border-radius: 50%;
  font-size: 18px;
  display: flex;
  color: white;
  font-weight: 600;
  text-align: center;
  background-color: #383838;
}


.alice-carousel__prev-btn-item {
  position: absolute;
  top: 50%;
  left: -8px;
  transform: translateY(calc(-50% - 42px));
  height: 36px;
  width: 36px;
  border-radius: 50%;
  font-size: 18px;
  display: flex;
  font-weight: 600;
  text-align: center;
  background-color: #383838;
}

.alice-carousel__prev-btn-item:hover,.alice-carousel__next-btn-item:hover {
  transform: translateY(calc(-50% - 42px)) scale(1.1);
  transition: all;
  transition-duration: 300ms;
}

[data-area=">"], [data-area="<"] {
  color: white;
  margin-left: auto;
  margin-right: auto;
}

.alice-carousel__next-btn {
  display: flex;
  align-items: center;
}

.alice-carousel__next-btn-item.__inactive {
  visibility: hidden;
}

.alice-carousel__prev-btn-item.__inactive {
  visibility: hidden;
}

.dot-overtaking {
  position: relative;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: transparent;
  color: #14B1C0;
  margin: -1px 0;
  box-shadow: 0 -20px 0 0;
  animation: dotOvertaking 2s infinite cubic-bezier(0.2, 0.6, 0.8, 0.2);
}

.dot-overtaking::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: transparent;
  color: #14B1C0;
  box-shadow: 0 -20px 0 0;
}

.dot-overtaking::before{
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: transparent;
  color: #14B1C0;
  box-shadow: 0 -20px 0 0;
}

.dot-overtaking::before {
  animation: dotOvertaking 2s infinite cubic-bezier(0.2, 0.6, 0.8, 0.2);
  animation-delay: .3s;
}

.dot-overtaking::after {
  animation: dotOvertaking 1.5s infinite cubic-bezier(0.2, 0.6, 0.8, 0.2);
  animation-delay: .6s;
}

@keyframes dotOvertaking {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.productMainImageContainer {
  width: calc(100% - 132px);
  height: auto;
}

.productSideImageContainer {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 6px);
  width: 112px;
  overflow-y: auto;
  overflow-x: visible;
}

.removeSelectArrow {
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  appearance:none;
}

.container {
  height: 100px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  position: relative;
  width: 200px;
}

.slider__track,
.slider__range,
.slider__left-value,
.slider__right-value {
  position: absolute;
}

.slider__track,
.slider__range {
  border-radius: 3px;
  height: 5px;
}

.slider__track {
  background-color: #7f7c7c;
  width: 100%;
  z-index: 1;
}

.slider__range {
  background-color: #14B1C0;
  z-index: 2;
}

.slider__left-value,
.slider__right-value {
  color: #383838;
  font-size: 16px;
  font-weight: 600;
  margin-top: 20px;
}

.slider__left-value {
  left: 6px;
}

.slider__right-value {
  right: -4px;
}

/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 200px;
  outline: none;
}

.thumb--left {
  z-index: 3;
}

.thumb--right {
  z-index: 4;
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
  background-color: #f1f5f7;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1.5px #7f7c7c;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
  background-color: #f1f5f7;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1.5px #7f7c7c;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}



.removeArrowButtons::-webkit-outer-spin-button,
.removeArrowButtons::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.removeArrowButtons {
  -moz-appearance: textfield;
}


.dot-falling {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #0E6378;
  color: #0E6378;
  box-shadow: 9999px 0 0 0 #0E6378;
  animation: dotFalling 1s infinite linear;
  animation-delay: .1s;
}

.dot-falling::before, .dot-falling::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-falling::before {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #0E6378;
  color: #0E6378;
  animation: dotFallingBefore 1s infinite linear;
  animation-delay: 0s;
}

.dot-falling::after {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #0E6378;
  color: #0E6378;
  animation: dotFallingAfter 1s infinite linear;
  animation-delay: .2s;
}

@keyframes dotFalling {
  0% {
    box-shadow: 9999px -15px 0 0 rgba(152, 128, 255, 0);
  }
  25%,
  50%,
  75% {
    box-shadow: 9999px 0 0 0 #0E6378;
  }
  100% {
    box-shadow: 9999px 15px 0 0 rgba(152, 128, 255, 0);
  }
}

@keyframes dotFallingBefore {
  0% {
    box-shadow: 9984px -15px 0 0 rgba(152, 128, 255, 0);
  }
  25%,
  50%,
  75% {
    box-shadow: 9984px 0 0 0 #0E6378;
  }
  100% {
    box-shadow: 9984px 15px 0 0 rgba(152, 128, 255, 0);
  }
}

@keyframes dotFallingAfter {
  0% {
    box-shadow: 10014px -15px 0 0 rgba(152, 128, 255, 0);
  }
  25%,
  50%,
  75% {
    box-shadow: 10014px 0 0 0 #0E6378;
  }
  100% {
    box-shadow: 10014px 15px 0 0 rgba(152, 128, 255, 0);
  }
}

.floatingLabel {
  position: relative;
  display: flex;
  flex-direction: column;
}

.floatingLabel input {
  width: 100%;
  height: 44px;
  padding: 14px 14px 8px 6px;
  outline: 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.floatingLabel label {
  position: absolute;
  transform: translate(0, 14px) scale(1);
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 8px;
  color: hsl(0, 0%, 50%);
  pointer-events: none;
  transform-origin: top left;
  transition: all 0.2s ease-out;
}

.floatingLabel .Active {
  transform: translate(0, 1px) scale(0.80);
}

.disabledFloatingLabel {
  position: relative;
  display: flex;
  flex-direction: column;
}

.disabledFloatingLabel input {
  width: 100%;
  height: 44px;
  padding: 14px 14px 8px 6px;
  outline: 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #ddd;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.disabledFloatingLabel label {
  position: absolute;
  transform: translate(0, 14px) scale(1);
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 8px;
  color: hsl(0, 0%, 50%);
  pointer-events: none;
  transform-origin: top left;
  transition: all 0.2s ease-out;
}

.disabledFloatingLabel .Active {
  transform: translate(0, 1px) scale(0.80);
}


.floatingLabelInput {
  position: relative;
  display: flex;
  flex-direction: column;
}

.floatingLabelInput textarea {
  width: 100%;
  height: 128px;
  padding: 14px 14px 8px 6px;
  outline: 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.floatingLabelInput label {
  position: absolute;
  transform: translate(0, 16px) scale(1);
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 8px;
  color: hsl(0, 0%, 50%);
  pointer-events: none;
  transform-origin: top left;
  transition: all 0.2s ease-out;
}

.floatingLabelInput .Active {
  transform: translate(0, 1px) scale(0.80);
}


.fadeOutAnimation {
  animation: fadeOut 0.1s ease-in-out;
}

@keyframes fadeOut {
  0%{
    opacity: 1;
  },
  100% {
    opacity: 0;
  }
}

.scale-up-ver-top {
	-webkit-animation: scale-up-ver-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-ver-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
}
@keyframes scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
}

.react-star-rate, .react-star-rate__star, .react-star-rate__star__first, .react-star-rate__star__second, .react-star-rate__star--zero, .react-star-rate__star--half, .react-star-rate__star--full, .react-star-rate--ltr {
  transition: none !important;
  font-size: 30px;
}

.bubbly-button {
  display: inline-block;
  font-size: 1em;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  
}

.bubbly-button:focus {
  outline: 0;
}

.bubbly-button:before, .bubbly-button:after{
  position: absolute;
  content: '';
  display: block;
  width: 120%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}

.bubbly-button:before{
  display: none;
  top: -75%;
  background-image:  
  radial-gradient(circle, #ef4444 20%, transparent 20%),
  radial-gradient(circle,  transparent 20%, #ef4444 20%, transparent 30%),
  radial-gradient(circle, #ef4444 20%, transparent 20%), 
  radial-gradient(circle, #ef4444 20%, transparent 20%),
  radial-gradient(circle,  transparent 10%, #ef4444 15%, transparent 20%),
  radial-gradient(circle, #ef4444 20%, transparent 20%),
  radial-gradient(circle, #ef4444 20%, transparent 20%),
  radial-gradient(circle, #ef4444 20%, transparent 20%),
  radial-gradient(circle, #ef4444 20%, transparent 20%);
background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}
.bubbly-button:after{
  display: none;
  bottom: -75%;
  background-image:  
  radial-gradient(circle, #ef4444 20%, transparent 20%), 
  radial-gradient(circle, #ef4444 20%, transparent 20%),
  radial-gradient(circle,  transparent 10%, #ef4444 15%, transparent 20%),
  radial-gradient(circle, #ef4444 20%, transparent 20%),
  radial-gradient(circle, #ef4444 20%, transparent 20%),
  radial-gradient(circle, #ef4444 20%, transparent 20%),
  radial-gradient(circle, #ef4444 20%, transparent 20%);
background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}

.bubbly-button:active{
  transform: scale(0.9);
  background-color: darken(#ef4444, 5%);
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}

.animate:before{
  display: block;
  animation: topBubbles ease-in-out 0.75s forwards;
}
.animate:after{
  display: block;
  animation: bottomBubbles ease-in-out 0.75s forwards;
}

@keyframes topBubbles {
  0%{
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;}
 100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
  background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}

@keyframes bottomBubbles {
  0%{
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;}
 100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
  background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-7-28 22:46:19
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation swing-in-top-fwd
 * ----------------------------------------
 */